<div class="container">
  <h1>Libring Reporting</h1><br>
  <%= form_tag root_path, method: :get, class:'form-inline' do %>
    <%= hidden_field_tag(:period, value='custom_date')%>
    <%= hidden_field_tag(:data_type, value='adnetwork')%>
  
    <div id="start-date" class="form-group">
      <label>Start date:</label>
      <%= text_field_tag 'start_date', nil, class: 'form-control', placeholder: 'yyyy-mm-dd' %><br />
    </div>
  
    <div id="end-date" class="form-group">
      <label>End date:</label>
      <%= text_field_tag 'end_date', nil, class: 'form-control', placeholder: 'yyyy-mm-dd' %><br />
    </div>
  
    <div class="checkbox">
      <label>
        <%= check_box_tag 'group_by[]', 'connection'%> Connection
      </label>
      <label>
        <%= check_box_tag 'group_by[]', 'app'%> App
      </label>
      <label>
        <%= check_box_tag 'group_by[]', 'platform'%> Platform
      </label>
      <label>
        <%= check_box_tag 'group_by[]', 'country'%> Country
      </label>
    </div>
  
    <%= button_tag(type: 'submit', class: 'btn btn-success white-green') do %>
      <i class='glyphicon glyphicon-search'></i> Search
    <% end %>
  <% end %>
</div>
<br>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">
        <table id="datatable" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th><%= t('results.impressions') %></th>
              <th><%= t('results.ad_revenue') %></th>
              <th><%= t('results.ad_cpm') %></th>
              <th><%= t('results.connection') %></th>
              <th><%= t('results.app') %></th>
              <th><%= t('results.platform') %></th>
              <th><%= t('results.country') %></th>
              <th><%= t('results.date') %></th>
            </tr>
          </thead>
          <tbody>
            <% @results.each do |result| %>
              <tr>
                <td><%= result['impressions'] %></td>
                <td><%= result['ad_revenue'] %></td>
                <td><%= result['ad_cpm']%></td>
                <td><%= result['connection'] if result['connection'].present? %></td>
                <td><%= result['app'] if result['app'].present? %></td>
                <td><%= result['platform'] if result['platform'].present? %></td>
                <td><%= result['country'] if result['country'].present? %></td>
                <td><%= result['date'] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var $table = $('#datatable');
  var thead = $table[0].tHead, tbody = $table[0].tBodies[0];
  var colsLen = tbody.rows[0].cells.length, rowsLen = tbody.rows.length;
  var hideNode = function(node) { if (node) node.style.display = "none"; };
  for (var j = 0; j < colsLen; ++j) {
    var counter = 0;
    for (var i = 0; i < rowsLen; ++i) {
      if (tbody.rows[i].cells[j].childNodes.length == 0) ++counter;
    }
    if (counter == rowsLen) {
      for (var i = 0; i < rowsLen; ++i) {
        hideNode(tbody.rows[i].cells[j]);
      }
      hideNode(thead.rows[0].cells[j]);
    }
  }
</script>